<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About </title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  
<header class="">
  <a class="logo_link" href="/">
    <h1>ServerBased</h1>
       </a>
       
    <nav class="navig">
<ul>
<li><a href="/"><b>HomePage</b></a></li>
<li><a href="/addcourse"><b>Add Course</b></a></li>
<li><a href="/about"><b>About</b></a></li>
</ul>
</nav>
</header>




<footer>
<p class="p-footer">
Niklas Smith <br>
nism2400@student.miun.se <br>
moment 1 : serverbaserad <br>
Kurskod: dt207g
</p>
</footer>

</body>
</html>
